<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <h1>{{heading}}</h1>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/blog/">Blog</a></li>
        <ul>
            <li><a href="/blog/berita">Berita</a></li>
            <li><a href="/blog/how_to">How To</a></li>
            <li><a href="/blog/gosip">Gosip</a></li>
        </ul>
    </ul>

    <br><br>
    {% for post in posts %}
    <ul>
        <li>{{ post.title }}</li>
        <li>{{ post.body }}</li>
        <li>{{ post.category }}</li>
        <li>{{ post.post_on }}</li>
    </ul>
    {% endfor %}
</body>
</html>