{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.bundle.css' %}">
</head>
<body>
    <div class="container">
        <h1>Halaman Blog</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius voluptas aliquid voluptatem facilis, maxime error impedit deserunt quo, officiis modi ab incidunt nemo nihil vel numquam repellendus repudiandae ipsum dolor, officia placeat. Excepturi architecto ex error earum quibusdam iusto quod, eos blanditiis. Ut eaque maxime dicta molestias delectus, debitis minima nulla vero. Asperiores explicabo vero harum molestias ad, adipisci sunt mollitia neque quasi? Eos, adipisci tempore beatae tenetur ullam similique dolorum est at rerum, laboriosam magnam veniam libero non a delectus incidunt temporibus neque dolor. Harum, minima illo. Dolorum perferendis illo placeat molestias consequuntur esse natus, est architecto id ex.</p>
    </div>
    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
</body>
</html>